footer {
    display: flex;
    justify-content: center;
    gap: 96px;
  
    height: 50px;
  
    padding: 24px 0 48px;
    color: #b3adad;
  }
  
  .footer__corporation {
    align-self: flex-end;
  }

  .footer__link {
    color: rgb(179, 173, 173);
  }